.custom-gradient {
    background: linear-gradient(93.17deg, #5ACD84 -22.23%, #56AEFF 106.85%);
  }
   
  .shado{
    box-shadow: 0px 20px 50px 0px #0000001A;
  }
 
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }